# No whitespace after the comma or in your part name!
config SHIELD_PEC_LEFT
    def_bool $(shields_list_contains,pec_left)

# No whitespace after the comma or in your part name!
config SHIELD_PEC_RIGHT
    def_bool $(shields_list_contains,pec_right)